.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid tomato;
}

@media(min-width: 1200px) {
    .footer .container {
       max-width: 1200px;
    }
}   



/* .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    .footer & {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}
} */

